@import 'variables';
@import 'utils';
@import 'lightTheme';
@import 'darkTheme';

/* =======
*   Main styles
** ========= */ 

.main-container {
    width: 90%;
    margin: 10px auto;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.logo {
    width: 102.6px;
    height: 64px;
    background-repeat: no-repeat;
    background-position-y: center;
}

.main-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-container {
    @include flex-center;
    position: relative;
    
    .dropdown-menu {
        width: 184px;
        position: absolute;
        top: 37px;
        left: 20px;
    }
}




@media screen and (max-width: 375px) {
    .main-container {
        width: 95%;
        border: 1px solid red;
    }

    header {

        .logo {
            width: 142.6px;
        }
    }
}



